h4 {
    color: gray;
}

.manage-review-btns {
    width: fit-content;
    background-color: rgb(91, 91, 91);
    color: white;
    box-shadow: 10px 10px 10px gray;
    border-radius: 2px;
}

.review-li {
    width: 100%;
    border-top: 2px solid gray;
}
