#root {
    max-width: 1000px;
    margin-left: 5%;
    margin-right: 5%;
}

#city-state-country-text {
    font-size: 1.1em;
}
#images-cont {
    display: flex;
    justify-content: center;
}
#preview-cont {
    width: 50%;
}

#preview {
    width: 95%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#other-images-cont {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.other-images {
    width: 97%;
    height: 97%;
    border-radius: 5px;
}

#all-info-cont {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1%;
    border-bottom: 2px solid gray;
    /* margin-left: 5%; */
}

#reserve-cont {
    border: 2px solid gray;
    border-radius: 15px;
    box-shadow: 2px 2px 2px gray;
    display: flex;
    flex-direction: column;
    width: 23%;
    /* margin-right: 6%; */
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: .5%;
}

#reserve-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#reserve-price {
    display: flex;
    align-items: center;
}

#actual-price {
    font-size: 2em;
    font-weight: bold;
}

#reserve-btn {
    color: white;
    background-color: rgb(251, 89, 89);
    height: 100%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
}

#details-cont {
    width: 70%;
}
