#spots-list {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-rows: 1fr;
    column-gap: 2%;
    /* row-gap: 1%; */
}

@media (max-width: 900px) {
    #spots-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 750px) {
    #spots-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    #spots-list {
        display: grid;
        grid-template-columns: 1fr;
    }
}
