li {
    list-style-type: none;
}

.hidden {
    display: none;
}

.profile-dropdown:not(.hidden){
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 2px solid black;
    padding: 1%;
    /* position: fixed; */
    z-index: 2;
}

#home-container {
    color: red;
    margin-left: 1%;
}

#home-img {
    width: 10%;
    height: 100%;
}

#home-text {
    display: flex;
    align-items: center;
}

#home-text {
    text-decoration: none;
    font-weight: bold;
    color:rgb(225, 79, 79);
}

#nav-bar {
    border-bottom: 2px solid rgb(216, 216, 216);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
    background-color: white;
    height: 100%;
}
#home-img {
    background-color: black;
}
#right-nav-cont {
    width: 30%;
    display: flex;
    justify-content: space-between;
    height: 500%;
    margin: 0;
    padding: 0;
}

#new-spot {
    white-space: nowrap;
}

#profile-btn {
    width: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    height: 200%;
    /* padding: 20%; */
}

#btn-container.navs {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
}

#home-text:hover {
    cursor: pointer;
    font-weight: bolder;
    text-decoration: underline;
}

#profile-btn:hover {
    cursor: pointer;
    background-color: rgb(179, 191, 245);
}

.profile-options:hover {
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(179, 191, 245);
}

#manage-links-cont-li {
    border-top: 2px solid black;
    border-bottom: 2px solid black;;
}

#logout-btn-li-cont {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

#nav-logout-btn {
    border-radius: 20px;
    color: white;
    background-color: rgb(60, 60, 60);
}

#nav-logout-btn:hover {
    cursor: pointer;
}
