li {
    list-style-type: none;
}

/* #root {

} */

.hidden {
    display: none;
}

.profile-dropdown:not(.hidden){
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 2px solid black;
    padding: 1%;
}

#home-container {
    color: red;
    margin-left: 1%;
}

#home-img {
    width: 10%;
    height: 100%;
}

#home-text {
    display: flex;
    align-items: center;
}

#home-text {
    text-decoration: none;
    font-weight: bold;
    color:rgb(225, 79, 79);
    font-family: Arial, Helvetica, sans-serif;
}

#nav-bar {
    border-bottom: 2px solid rgb(216, 216, 216);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
    background-color: white;
    /* min-height: 100%; */
}
#home-img {
    background-color: black;
}
#right-nav-cont {
    /* border: 5px solid red; */
    /* height: 100%; */
    width: 30%;
    display: flex;
    justify-content: space-between;
}

#new-spot {
    /* border: 5px solid blue; */
    white-space: nowrap;
}

#profile-btn {
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
}

#btn-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    align-items: center;
    /* padding: 0px; */
    /* border: 0px; */
    /* margin-top: 0px; */
}

#home-text:hover {
    cursor: pointer;
    font-weight: bolder;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}

#profile-btn:hover {
    cursor: pointer;
    background-color: rgb(179, 191, 245);
}

.profile-options:hover {
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(179, 191, 245);
}

/* .logged-in-right-nav { */
    /* background-color: rgb(255, 177, 177); */
/* } */

#manage-spots-link-li {
    border-top: 2px solid black;
    border-bottom: 2px solid black;;
}

#logout-btn-li-cont {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

#nav-logout-btn {
    border-radius: 20px;
    color: white;
    background-color: rgb(60, 60, 60);
}

#nav-logout-btn:hover {
    cursor: pointer;
}
